vendor/
.env

. "&#9999;Команды:\n"
                    . "&#128196;/ — информация о боте и команды\n"
                    . "&#128100;/User info|Информация пользователя {@Айди|@домен|Пересланое сообщение} — информация пользователя в вк и чате\n"
                    . "&#128279;/Сократить ссылку {ссылка} [Включить|выключить|on|off] — сокращает ссылку через сервис вк, on - включает статистику\n"
                    . "&#128196;/Получить статистику {ссылка} {токен} — выводит статистику переходов по сокращенный ссылке (желательно использовать эту команду в личных сообщениях)\n"
                    . "&#128279;/Инвайт ссылка|Приглашение|Ссылка приглашение - выводит ссылку на приглашение в этот чат\n"
                    . "&#128075;/Пригласить {@Айди|@домен|Пересланое сообщение} [Сообщение] - отправляет приглашение пользователю в этот чат\n"
                    . "&#128195;/Список {Пользователей|забаненных|вышедших|модераторов|неактивных|онлайна} - выводит указанный список пользователей\n"
                    . "&#128221;/Chat settings|настройки беседы|чата - показывает текущий список настроек\n"
                    . "&#128127;/History punishment|/История наказаний [число] - показывает историю последних наказаний, по умолчанию 100\n"
                    . "&#128124;/Лимит модераторов - выводит лимит для модераторов\n\n"
                    . "&#128101;Модерация и Администрация:\n"
                    . "&#128110;/Предупреждение|Пред|Pred {@Айди|@домен|Пересланое сообщение} [Количество] [Причина] - Выдать предупреждение, по умолчанию 1 предупреждение\n"
                    . "&#9728;/Удалить предупреждение|пред {@Айди|@домен|Пересланое сообщение} [Количество] [Причина] - Удалить предупреждения, по умолчанию всё предупреждения\n"
                    . "&#128546;/Кик|Исключить|Kick {@Айди|@домен|Пересланое сообщение} [Причина] - Исключить пользователя из чата\n"
                    . "&#128127;/Временно забанить|temp ban {@Айди|@домен|Пересланое сообщение} {Время SS:MM:HH:DDD:MM:YY} [Причина] - Временно забанить пользователя в беседе\n"
                    . "&#128128;/Бан|Ban {@Айди|@домен|Пересланое сообщение} [Причина] - Забанить пользователя\n"
                    . "&#128124;/Разбанить|Пардон|Unban {@Айди|@домен|Пересланое сообщение} [Причина] - Разбанить пользователя\n"
                    . "&#128106;/Мега кик|мега исключение {Неактивных|вышедших|пользователей} - исключает пользователей из определённой группы\n"
                    . "&#128120;/Назначит ранг|Сет ранг {@Айди|@домен|Пересланое сообщение} {0|1|2|3|4|5|Модератор1 - Модератор4|пользователь|администратор} - Выдать ранг пользователю\n\n"
                    . "&#9881;Настройки:\n"
                    . "&#128035;/Лимит повышения рангов {Уровень: 1 - 3} {Количество предупреждений] {Количество киков] {Количество временных баннов] - Устанавливает лимит повышение рангов модераторам, если указан только уровень, лимит для него сбрасывается\n"
                    . "&#128299;/Наказание за предупреждения {От какого количества} {Тип: кик, временный бан, бан} {Время SS:MM:HH:DDD:MM:YY, если тип: временный бан] - Установить наказание за достижение определенного количества предупреждений\n"
                    . "&#127809;/Очистить таблицу {пользователей|забаненных|вышедших|модераторов|наказаний|лимита|настроек|всё} - очищает указанную таблицу\n"
                    . "&#9202;/Авто очистка предупреждений {Время SS:MM:HH:DDD:MM:YY} - сбрасывает всё предупреждения через указанное время\n"
                    . "&#9995;/Приветствие {Текст} - Устанавливает приветствие для новых пользователей, можете написать в сообщение {first_name} - чтобы указать имя, {last_name} - чтобы указать фамилию. Если текст был не указан, приветствие будет отключено\n"
                    . "&#128279;/Установить инвайт ссылку {Ссылка} - Устанавливает ссылку для подключение к беседе\n"
                    . "&#128110;/Сообщать о наказаниях {@Айди|@домен|Пересланое сообщение} - люди, которым приходят уведомления о выдачи наказаний(если людей несколько, указывать через запятую, либо через пробел)\n"
                    . "&#128562;/Автокик|автоисключение {Вышедших|ботов} {Включить|выключить|on|off} - Автоисключение вышедших пользователей или новых ботов\n"
                    . "{} - обязательный параметр, [] - необязательный параметр, {] - тип зависит от задачи\n\n"
                    . "&#128214;Информация о проекте:\n"
                    . "&#128100;Создатель: https://vk.com/i_love_python\n"
                    . "&#128064;Исходные код проекта и гайд по подключению: https://github.com/kos234/Vk-bot-moderator\n";